/* Botones estilo moderno */
.nav-btn {
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: 500;
    color: #333;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

/* Hover elegante */
.nav-btn:hover {
    background-color: #0d6efd;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(13,110,253,0.3);
}

/* Botón activo */
.active-custom {
    background-color: #092c3b;
    color: white !important;
    box-shadow: 0 4px 12px rgba(13,110,253,0.3);
}

/* Botón administración especial */
.admin-btn {
    background-color: #092c3b;
    color: #f7f4f4;
}

.admin-btn:hover {
    background-color: #e0a800;
    color: #000;
}

footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      font-size: 14px;
    }
    

/* Control

/* ===== ESTADOS ===== */
.estado-on { color:#198754; font-weight:bold; }
.estado-off { color:#6c757d; font-weight:bold; }

/* ===== TARJETAS ===== */
.card{
    border-radius:18px;
    transition:all .3s ease;
}
.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
.card-on{
    border-left:6px solid #198754;
    background:#f0fff4;
}
.card-off{
    border-left:6px solid #6c757d;
    background:#f8f9fa;
}
.card-alert{
    border-left:6px solid #dc3545;
    background:#fdecea;
}

/* ===== IMÁGENES ===== */
.img-dispositivo{
    width:100%;
    max-width:110px;
    height:110px;
    object-fit:contain;
    margin:0 auto 10px;
    display:block;
}
.card-on .img-dispositivo{
    filter:drop-shadow(0 0 6px rgba(25,135,84,.6));
}
.card-alert .img-dispositivo{
    filter:drop-shadow(0 0 8px rgba(220,53,69,.8));
}

/* ===== BOTONES ===== */
.btn-on{ background:#198754; color:#fff; border:none; }
.btn-off{ background:#dc3545; color:#fff; border:none; }
.btn-inactivo{ background:#adb5bd; color:#fff; border:none; }

/* ===== MODO VIVIENDA ===== */
.modo-container{
    display:flex;
    gap:15px;
}
.modo-btn{
    flex:1;
    padding:18px;
    border-radius:15px;
    font-weight:bold;
    border:none;
    color:white;
    transition:.3s;
}
.modo-btn:hover{ transform:translateY(-4px); }
.modo-casa{ background:linear-gradient(135deg,#198754,#28a745); }
.modo-dormido{ background:linear-gradient(135deg,#ffc107,#ffb300); color:black; }
.modo-fuera{ background:linear-gradient(135deg,#dc3545,#c82333); }
